h1, h2, h3 {
    font-weight: 800;
}

h1 {
    font-size: 32px;
    color: steelblue;
    font-family: 'Architects Daughter', cursive;
}
h2 {
    font-size: 28px;
    color: #999999;
    font-family: 'Architects Daughter', cursive;
}

h3 {
    font-size: 24px;
    color: #999999;
    font-family: 'Architects Daughter', cursive;
}

label span, .selectize-dropdown, .selectize-input {
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}

label.control-label {
    font-size: 15;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    color: #999999;
}

tfoot {
    display: table-header-group;
}

table {
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}

.text-small {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

.text-small-italic {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-style: italic;
}